<% layout('layouts/boilerplate') %>
<div id="filters">
  <!-- All Filter -->
  <a href="/listings" class="filter <%= !category ? 'active' : '' %>">
    <i class="fa-solid fa-globe"></i>
    <p>All</p>
  </a>

  <a href="/listings?category=trending" class="filter <%= category === 'trending' ? 'active' : '' %>">
    <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
  </a>
  <a href="/listings?category=farm" class="filter <%= category === 'farm' ? 'active' : '' %>">
    <i class="fa-solid fa-house"></i>
    <p>Farms</p>
  </a>
  <a href="/listings?category=iconic cities" class="filter <%= category === 'iconic cities' ? 'active' : '' %>">
    <i class="fa-solid fa-mountain-city"></i>
    <p>Iconic Cities</p>
  </a>
  <a href="/listings?category=mountains" class="filter <%= category === 'mountains' ? 'active' : '' %>">
    <i class="fa-solid fa-mountain-sun"></i>
    <p>Mountains</p>
  </a>
  <a href="/listings?category=arctics" class="filter <%= category === 'arctics' ? 'active' : '' %>">
    <i class="fa-solid fa-snowflake"></i>
    <p>Arctics</p>
  </a>
  <a href="/listings?category=beach" class="filter <%= category === 'beach' ? 'active' : '' %>">
    <i class="fa-solid fa-umbrella-beach"></i>
    <p>Beach</p>
  </a>
  <a href="/listings?category=cabins" class="filter <%= category === 'cabins' ? 'active' : '' %>">
    <i class="fa-solid fa-person-shelter"></i>
    <p>Cabins</p>
  </a>
  <a href="/listings?category=lake front" class="filter <%= category === 'lake front' ? 'active' : '' %>">
    <i class="fa-solid fa-water"></i>
    <p>Lake Front</p>
  </a>
  <a href="/listings?category=castles" class="filter <%= category === 'castles' ? 'active' : '' %>">
    <i class="fa-brands fa-fort-awesome"></i>
    <p>Castles</p>
  </a>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allistings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 18rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b><br>
            ₹ <%= listing.price.toLocaleString("en-In") %> /night
            <i class="tax-info">&nbsp;&nbsp;  +18% GST</i>
          </p>
        </div>
      </div>
    </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById('switchCheckDefault');
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName('tax-info');
    for (info of taxInfo) {
      if (taxSwitch.checked) {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
